/* Container do carrinho */
.carrinho-container {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  h2 {
    color: #027e08;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Container dos itens no carrinho */
  .itens-carrinho {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .item-carrinho {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .imagem-produto {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .detalhes-produto {
    flex-grow: 1;
  }
  
  .quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  button {
    padding: 5px 10px;
    background-color: #04b13e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #045d24;
  }
  
  .remover-produto {
    background-color: #e74c3c;
  }
  
  .remover-produto:hover {
    background-color: #c0392b;
  }
  
  /* Produtos disponíveis */
  .produtos-disponiveis {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .produto-card {
    width: 200px;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .produto-card h4 {
    margin: 10px 0;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .itens-carrinho {
      flex-direction: column;
    }
  
    .produto-card {
      width: 100%;
      margin: 10px 0;
    }
  }

  .mensagem-sucesso {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-size: 1rem;
  }
